@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold; color:blueviolet">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    body {
        background-image: url('../image/backimage.jpg');
        background-size:cover;
        background-repeat:no-repeat;
    }
</style>